.adressSearchContainer {
  max-width: 500px;
  /* width: 100%; */
  position: fixed;
  top: 2%;
  left: 5%;
  /* transform: translateX(-50%); */
  z-index: 10;
  display: flex;
  gap: 5px;
}

.modeToggle {
  background: #fff;
  border: 2px solid black;
  font-size: 1rem;
  cursor: pointer;
}

.listContainer {
  position: absolute;
  top: 0;
  padding-top: 30px;
  background-color: white;
  height: 100%;
  width: 300px;
}

.item {
  cursor: pointer;
  list-style: none;
  padding: 5px;
  border: 1px solid black;
}

.itemContainer{
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  height: 100%;
}
